<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>민기인력 - 기업 메인</title>
<th:block th:replace="~{fragments/external_file :: cdn_block}"></th:block>
<link rel="stylesheet" th:href="@{/corp/mainCss/main_page.css}"/>
<link rel="stylesheet" th:href="@{/corp/jobPosting/myJobPostingListPage.css}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<style type="text/css">

</style>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', () => {
	
	//공고등록 버튼 페이지 이동
	document.querySelector('#createPostingBtn').addEventListener('click', function() {
 		window.location.href = '/corp/jobPostingForm'; // 페이지 이동
	});
	
	
	
	
	
});//ready



//지원자 관리 모달창
function openApplicantListModal(){
	alert('지원자 관리 모달창 열림');
}

//진행중 버튼 누르면 진행중인 공고만 가져와 뿌리기
function getProcessingPosting(){
	
}
//마감 버튼을 누르면 마감된 공고만 가져와 뿌리기 (마감된 공고는 공고관리 > 연장,마감 버튼, 인재추천 비활성화)
function getEndPosting(){
	
}
//전체 버튼 누르면 전체 공고를 가져와 뿌리기
function getAllPosting(){
	
}

//전체(최신등록순) 정렬
function orderByStartDate(){
	
}
//마감일순 정렬 
function orderByEndDate(){
	
}
//조회수순 정렬
function orderByViewCnt(){
	
}




</script>
</head>
<body>
<th:block th:replace="~{fragments/corpHeader :: corpHeader}"></th:block>

<div class="corp-main-container">
	<div> <!-- 상단 -->
		<div class="corp-posting-status"> <!-- 상단의 공고상태와 건수, 오른쪽에 채용공고 등록 버튼  -->
			<div> <!-- 테이블 -->
				<table class="table table-bordered"> 
					<tr>
						<th id="getProcessingPosting">진행중 (<span>2</span>)건 </th>
						<th id="getEndPosting">마감 (<span>12</span>)건 </th>
						<th id="getAllPosting">전체 (<span>14</span>)건 </th>
					</tr>
				</table>
			</div>
			<div>
				<input id="createPostingBtn" class="create-job-posting-btn" type="button" value="📑채용공고 등록">
			</div>
		</div>
		<hr class="border border-primary border-2 opacity-50 status-bottom-hr">
		<div class="get-posting-orderby"> <!-- 상단의 정렬 순서 -->
			<div> 
				<!-- 전체는 최신 등록순 -->
				<input type="button" value="전체" id="orderByStartDate"> |
				<input type="button" value="마감일순" id="orderByEndDate"> |
				<input  type="button"value="조회수순" id="orderByViewCnt">
			</div>
		</div>
	</div> <!-- 상단 끝 -->
	
	<div class="bottom-start-container"> <!-- 하단 시작 -->
		<div class="bottom-select-box"> <!-- 하단에 '일반 채용공고' 글자, 정렬 기준 셀렉션 -->
			<div>
				<p>➡️일반 채용공고</p>
			</div>
			<div>
				<select>
					<option selected>5개씩보기</option>
					<option>10개씩보기</option>
					<option>20개씩보기</option>
				</select>				
			</div>		
		</div>
		<div> <!-- 공고 리스트 테이블 -->
			<table class="table">
				<thead class="table-light">
					<tr>
						<th>공고 상태</th>
						<th>모집 내용</th>
						<th>공고 관리</th>
						<th>지원자 관리</th>
						<th style="color: #f53600">AI인재추천</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="posting-box-need-center">채용 마감</td>
						<td>
							<a><span>테스트 채용공고 02. 입사지원하..</span></a>
							<ul>
								<li>근무형태 : <span>정규직</span> </li>
								<li>포지션 : <span>백엔드</span> </li>
								<li>경력 : <span>무관</span> </li>
								<li>접수기간 : <span>25/07/10</span> ~ <span>25/08/10</span> </li>
							</ul>
						</td>
						<td class="posting-box-need-center">
							<button type="button" >연장 </button>
							<button type="button" >마감 </button>
						</td>
						<td class="posting-box-need-center">
							<div><a style="cursor: pointer; text-decoration: underline;" onclick="openApplicantListModal()"> 3명</a></div>
							<div style="color: black; cursor: pointer;" onclick="openApplicantListModal()"> 지원자 관리 <i class="bi bi-file-earmark-ruled"></i></div>
							<div> <input type="button" value="지원자 통계"> </div>
						</td>
						<td class="posting-box-need-center">
							<button type="button">확인</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div> <!-- 하단 끝 -->
	
	<!-- 모달창 : 지원자 관리 -->
	<div>
	
	</div>
	
	
	<!-- 모달창 : 지원자 통계 -->
	
	
</div>
 
<th:block th:replace="~{fragments/corpFooter :: corpFooter}"></th:block>
</body>
</html>