<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- @Mapper와 패키지명, 인터페이스명 같아야함 -->
<mapper namespace="kr.co.sist.corp.mapper.JobPostingCorpMapper">    

<!-- 새로운 공고 등록 -->
<insert id="insertJobPost" parameterType="kr.co.sist.corp.dto.JobPostingDTO">
	<selectKey keyProperty="jobPostingSeq" resultType="int" order="BEFORE">
		SELECT ISEQ$$_75568.NEXTVAL FROM DUAL	
	</selectKey>

INSERT INTO job_posting (JOB_POSTING_SEQ, CORP_NO, POSITION_SEQ, POSTING_TITLE, POSTING_DETAIL, EXP_LEVEL,
    POSTING_END_DT, POSTING_START_DT, RECRUIT_CNT, EMPLOY_TYPE, WORKDAY, WORK_START_TIME, WORK_END_TIME,
    SALARY, CONT_START_DT, CONT_END_DT, EDU_LEVEL, VIEW_CNT, ZIPCODE, ROAD_ADDRESS, DETAIL_ADDRESS, REGION, DISTRICT)
VALUES (#{jobPostingSeq}, #{corpNo}, #{positionSeq}, #{postingTitle}, #{postingDetail}, #{expLevel},
    #{postingEndDt}, #{postingStartDt}, #{recruitCnt}, #{employType}, #{workday}, #{workStartTime}, #{workEndTime},
    #{salary}, #{contStartDt}, #{contEndDt}, #{eduLevel}, #{viewCnt}, #{zipcode}, #{roadAddress}, #{detailAddress}, #{region}, #{district} )
</insert>



<!-- 특정 공고 가져오기 : selectJobPost -->



<!-- 공고 수정 : modifyJobPost-->



<!-- 공고 삭제 : deleteJobPost-->


<!-- 공고안에서 포지션리스트 키워드로 조회 -->
<select id="selectPostionList" parameterType="string" resultType="kr.co.sist.user.dto.PositionCodeDTO">
SELECT position_seq, position_name FROM POSITION_CODE 
WHERE position_name LIKE '%' || #{keyword} || '%'
</select>

<!-- 공고안에서 기술스택 키워드로 조회 -->
<select id="selectTechStackList" parameterType="string" resultType="kr.co.sist.user.dto.TechStackDTO">
SELECT tech_stack_seq, stack_name FROM TECH_STACK
WHERE UPPER(stack_name) LIKE UPPER( '%' || #{keyword} || '%' )
</select>

</mapper>