<th:block th:fragment="marketingTerm_email">

<div id="content">
    <div class="wrap_terms window_open">
        <div id="contentPrivacy" class="content_privacy">
            <div class="article">
                <h4>1. 수집하는 개인정보 항목 및 이용 목적</h4>

                <table border="1" cellspacing="0" cellpadding="6" style="width:100%; border-collapse:collapse;">
                    <caption style="caption-side: top; font-weight:bold; margin-bottom:10px;">개인회원</caption>
                    <colgroup>
                        <col style="width: 20%;">
                        <col style="width: 30%;">
                        <col style="width: 30%;">
                        <col style="width: 20%;">
                    </colgroup>
                    <thead style="background-color: #f0f0f0;">
                        <tr>
                            <th scope="col">수집방법</th>
                            <th scope="col">수집항목</th>
                            <th scope="col">수집 및 이용목적</th>
                            <th scope="col">보관 기간</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align:center;">회원 가입 및 통합</td>
                            <td>(선택)<br>마케팅 정보 수신 동의(이메일)</td>
                            <td>
                                상품 및 서비스의 안내, 설문, 이벤트 관련 정보 및 참여 기회 제공,<br>
                                (제휴) 광고 및 마케팅 정보 제공
                            </td>
                            <td style="text-align:center;">
                                회원탈퇴 및 동의 철회 시
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p style="margin-top: 20px;">
                    귀하께서는 회사가 위와 같이 수집하는 개인정보에 대해 동의하지 않거나
                    개인정보를 기재하지 않음으로써 거부할 수 있습니다.<br>
                    다만, 동의하지 아니한 경우에도 사람인 서비스는 이용하실 수 있습니다.
                </p>
            </div>
        </div>
    </div>
</div>
</th:block>
