<th:block th:fragment="privacyTerm">
<h3>1. 수집하는 개인정보 항목 및 이용 목적</h3>

<h4>가. &lt;개인회원&gt;</h4>

<h5>회원 가입 및 통합</h5>
<table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>수집방법</th>
      <th>수집항목</th>
      <th>수집 및 이용목적</th>
      <th>보관 기간</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>회원 가입 및 통합<br/>(필수)</td>
      <td>
        (공통)<br/>
        아이디, 비밀번호, 이름, 휴대폰번호, 생년월일, 이메일<br/><br/>
        (간편가입 시)<br/>
        - 페이스북, 구글, 애플: 아이디, 이름, 이메일<br/>
        - 네이버, 카카오: 아이디, 이름, 이메일, 휴대폰번호, 생년월일
      </td>
      <td>
        회원 가입 및 관리<br/>
        상품 구매 및 결제<br/>
        공지사항 및 회원 설정 기반 정보 제공<br/>
        서비스 이용 또는 콘텐츠 활용 관련 사용자 출처 표시<br/>
        사람인 서비스 이용을 위한 연동
      </td>
      <td>회원탈퇴 시</td>
    </tr>
    <tr>
      <td>본인 인증<br/>(필수)</td>
      <td>
        이름, 생년월일, 성별,<br/>
        중복가입확인정보(DI),<br/>
        암호화된 동일인 식별정보(CI),<br/>
        휴대폰번호, 외국인 구분 값
      </td>
      <td>
        이용자 식별 및 본인여부 확인<br/>
        회원정보 연동
      </td>
      <td>-</td>
    </tr>
  </tbody>
</table>

<h5>&lt;서비스 이용에 따른 자동 수집 및 생성 정보&gt;</h5>
<table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>수집항목</th>
      <th>수집 및 이용목적</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        쿠키, 서비스 이용기록 (방문일시, IP, 불량이용기록),<br/>
        모바일 기기정보 (디바이스토큰, 디바이스ID, OS버전)
      </td>
      <td>
        접속관리<br/>
        이용자별 사용환경 제공<br/>
        활동정보 파악<br/>
        이벤트 및 프로모션 통계 확인<br/>
        맞춤형 채용정보 제공
      </td>
    </tr>
  </tbody>
</table>

<p style="margin-top: 1em;">
  ※ 귀하께서는 회사가 위와 같이 수집하는 개인정보에 대해 동의하지 않거나 개인정보를 기재하지 않음으로써 거부할 수 있습니다. 다만, 이때 회원에게 제공되는 서비스가 제한될 수 있습니다.
</p>
</th:block>