
<div class="footer" th:fragment="footer">
    <section class="footer-policy">
        <ul class="policy-list">
            <li><a href="#void">회사소개</a></li>
            <li><a href="#void">지속가능경영</a></li>
            <li><a href="#void">IR</a></li>
            <li><a href="#void">채용정보</a></li>
            <li><a href="#void">광고/제휴/출점문의</a></li>
            <li><a href="#void">이용약관</a></li>
            <li><a href="#void"><strong>개인정보처리방침</strong></a></li>
            <li><a href="#void">법적고지</a></li>
            <li><a href="#void">이메일주소무단수집거부</a></li>
            <li><a href="#void">윤리경영</a></li>
            <li><a href="#void">사이버감사실</a></li>
        </ul>
    </section>

    <div class="footer-content">
        <section class="company-info">
            <address>서울특별시 강남구 테헤란로 132(역삼동) 한독약품빌딩 8층 쌍용교육센터</address>
            <dl>
                <dt>대표이사</dt><dd>신민기</dd>
                <dt>사업자등록번호</dt><dd>104-81-45690</dd>
                <dt>통신판매업신고번호</dt>
                <dd>
                    2017-서울용산-0662 
                    <a href="#void" class="btn-ftc">사업자정보확인</a>
                </dd>
            </dl>
            <dl>
                <dt>호스팅사업자</dt><dd>SIST쌍용네트웍스</dd>
                <dt>개인정보보호 책임자</dt><dd>주현석</dd>
                <dt>대표이메일</dt><dd>mingi@naver.com</dd>
            </dl>
            <p class="copyright">© MINGI. All Rights Reserved.</p>
        </section>

        <section class="family-site">
            <h3><a href="#void">계열사 바로가기</a></h3>
            <div class="go-btn">GO</div>
        </section>
    </div>
</div>
