<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.sist.user.mapper.JobApplicationMapper">

  <!-- 지원하기 데이터 삽입 -->
  <insert id="insertJobApplication" parameterType="kr.co.sist.user.dto.JobApplicationDTO">
    INSERT INTO JOB_APPLICATION (
      resume_seq, job_posting_seq, application_status, application_date, is_read
    ) VALUES (
      #{resumeSeq}, #{jobPostingSeq}, #{applicationStatus}, #{applicationDate}, #{isRead}
    )
  </insert>

  <!-- 지원 상태 조회 -->
  <select id="selectApplicationStatus" parameterType="Integer" resultType="String">
    SELECT application_status 
    FROM JOB_APPLICATION 
    WHERE resume_seq = #{resumeSeq} AND job_posting_seq = #{jobPostingSeq}
  </select>

  <!-- 특정 지원 내역 조회 -->
  <select id="selectJobApplication" parameterType="Integer" resultMap="jobApplicationResultMap">
    SELECT * 
    FROM JOB_APPLICATION 
    WHERE job_application_seq = #{jobApplicationSeq}
  </select>

  <!-- jobApplicationResultMap 정의 -->
  <resultMap id="jobApplicationResultMap" type="kr.co.sist.user.dto.JobApplicationDTO">
    <id property="jobApplicationSeq" column="job_application_seq"/>
    <result property="resumeSeq" column="resume_seq"/>
    <result property="jobPostingSeq" column="job_posting_seq"/>
    <result property="applicationStatus" column="application_status"/>
    <result property="applicationDate" column="application_date"/>
    <result property="isRead" column="is_read"/>
  </resultMap>

</mapper>