<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    
<mapper namespace="kr.co.sist.user.mapper.JobStackMapper">

    <select id="selectJobPostingsByTechStack" parameterType="string" resultType="kr.co.sist.user.dto.TechStackDTO">
    SELECT tech_stack_seq, stack_name
    FROM tech_stack
    WHERE UPPER(stack_name) LIKE CONCAT('%', UPPER(#{stackName}), '%')
	</select>

</mapper>
    
    
