<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="kr.co.sist.user.mapper.MainPageMapper">

<select id="searchJobPostings" resultType="kr.co.sist.user.dto.JobPostDTO">
 SELECT 
    JP.JOB_POSTING_SEQ,
    JP.CORP_NO,
    JP.POSITION_SEQ,
    JP.POSTING_TITLE,
    JP.POSTING_DETAIL,
    JP.EXP_LEVEL,
    JP.POSTING_END_DT,
    JP.POSTING_START_DT,
    JP.RECRUIT_CNT,
    JP.EMPLOY_TYPE,
    JP.WORKDAY,
    JP.WORK_START_TIME,
    JP.WORK_END_TIME,
    JP.SALARY,
    JP.CONT_START_DT,
    JP.CONT_END_DT,
    JP.EDU_LEVEL,
    JP.VIEW_CNT,
    JP.ZIPCODE,
    JP.ROAD_ADDRESS,
    JP.DETAIL_ADDRESS,
    P.POSITION_NAME,
    C.CORP_NM,
    C.CORP_INFO,
    C.CORP_URL
FROM JOB_POSTING JP
JOIN COMPANY C ON JP.CORP_NO = C.CORP_NO
JOIN POSITION_CODE P ON JP.POSITION_SEQ = P.POSITION_SEQ
WHERE LOWER(JP.POSTING_TITLE) LIKE '%' || LOWER(#{keyword}) || '%'
   OR LOWER(JP.POSTING_DETAIL) LIKE '%' || LOWER(#{keyword}) || '%'
   OR LOWER(C.CORP_NM) LIKE '%' || LOWER(#{keyword}) || '%'
</select>


</mapper>