<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- @Mapper와 패키지명, 인터페이스명 같아야함 -->
<mapper namespace="kr.co.sist.user.mapper.ResumeMapper">

<!-- JOIN 후 해당 이력서의 포지션 코드 가져오기 -->
<select id="selectPositionByResume" parameterType="int" resultType="userResumePositionCodeDTO">
SELECT resume_position_seq, resume_seq, p.position_seq, position_name
FROM position_code p
JOIN resume_position_code r ON r.position_seq = p.position_seq
WHERE resume_seq = #{resumeSeq}
</select>

<!-- JOIN 후 해당 이력서의 기술 스택 가져오기 -->
<select id="selectStackByResume" parameterType="int" resultType="userResumeTechStackDTO">
SELECT RESUME_TECH_STACK_SEQ, TECH_STACK_SEQ, RESUME_SEQ
FROM resume_tech_stack
WHERE resume_seq=#{resumeSeq}
</select>

<!-- 해당 이력서의 링크 가져오기 -->
<select id="selectLinkByResume" parameterType="int" resultType="userLinkDTO">
SELECT LINK_SEQ, RESUME_SEQ, GITHUB_URL, NOTION_URL, BLOG_URL
FROM LINK
WHERE resume_seq=#{resumeSeq}
</select>

<!-- 해당 이력서의 학력 가져오기 -->
<select id="selectEduByResume" parameterType="int" resultType="userEducationHistoryDTO">
SELECT EDUCATION_HISTORY_SEQ, RESUME_SEQ, INDEX_NUM, SCHOOL_NAME, DEPARTMENT, GRADE, STANDARD_GRADE, EDUCATION_TYPE, ADMISSION_DATE, GRADUATE_DATE
FROM EDUCATION_HISTORY
WHERE resume_seq=#{resumeSeq}
</select>

<!-- 해당 이력서의 경력 가져오기 -->
<select id="selectCareerByResume" parameterType="int" resultType="userCareerDTO">
SELECT CAREER_SEQ, RESUME_SEQ, INDEX_NUM, COMPANY_NAME, POSITION, CAREER_DESCRIPTION, START_DATE, END_DATE
FROM CAREER
WHERE resume_seq=#{resumeSeq}
</select>

<!-- 해당 이력서의 프로젝트 가져오기 -->
<select id="selectProjectByResume" parameterType="int" resultType="userProjectDTO">
SELECT PROJECT_SEQ, RESUME_SEQ, PROJECT_NAME, PROJECT_CONTENT, START_DATE, END_DATE, RELEASE_STATUS, REPOSITORY_LINK
FROM PROJECT 
WHERE resume_seq=#{resumeSeq}
</select>

<!-- 해당 이력서의 기타사항 가져오기 -->
<select id="selectEtcByResume" parameterType="int" resultType="userAdditionalInfoDTO">
SELECT ADDITIONAL_INFO_SEQ, RESUME_SEQ, ACTIVITY_NAME, RECORD_TYPE, RELATED_AGENCY, DETAIL_CONTENT, END_DATE
FROM ADDITIONAL_INFO
WHERE resume_seq=#{resumeSeq}
</select>

<!-- 해당 이력서의 자기소개서 가져오기 -->
<select id="selectIntroByResume" parameterType="int" resultType="userSelfIntroductionDTO">
SELECT SELF_INTRODUCTION_SEQ, RESUME_SEQ, TITLE, CONTENT
FROM SELF_INTRODUCTION
WHERE resume_seq=#{resumeSeq}
</select>

</mapper>