<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
   <mapper namespace="kr.co.sist.user.mapper.ScrapMapper">

    <select id="countScrap" resultType="int" parameterType="map">
        SELECT COUNT(*)
        FROM JOB_POSTING_SCRAP
        WHERE job_posting_seq = #{jobPostingSeq}
          AND email = #{email}
    </select>

    <insert id="insertScrap" parameterType="kr.co.sist.user.dto.ScrapDTO">
        INSERT INTO JOB_POSTING_SCRAP (job_posting_seq, email, scrap_date)
        VALUES (#{jobPostingSeq}, #{email}, TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI:SS'))
    </insert>

    <delete id="deleteScrap" parameterType="map">
        DELETE FROM JOB_POSTING_SCRAP
        WHERE job_posting_seq = #{jobPostingSeq}
          AND email = #{email}
    </delete>

</mapper>