<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>민기 인력</title>
  <th:block th:replace="~{fragments/external_file :: cdn_block}"></th:block>
  <link rel="stylesheet" th:href="@{/user/css/header.css}" />
  <link rel="stylesheet" th:href="@{/user/css/footer.css}" />
  <link rel="stylesheet" th:href="@{/user/jobPosting/css/main_page.css}"/>
  <style type="text/css">
    
  </style>
  <script type="text/javascript">
  
 
  </script>
</head>
<body>
  <header>
    <div th:replace="~{fragments/header :: header}"></div>
  </header>
  <main>
     <div class="main-container">
       
    </div>
  </main>
  <footer>
    <div th:replace="~{fragments/footer :: footer}"></div>
  </footer>
</body>
</html>
