<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>기업회원 가입 페이지</title>
<th:block th:replace="~{fragments/external_file :: cdn_block}"></th:block>
<link rel="stylesheet" th:href="@{/login/joinCorpForm.css}"/>
<style type="text/css">

</style>
<!-- 카카오지도 -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript">
$(function(){

	//카카오맵 주소 찾기
	document.getElementById("openKakaoMap").addEventListener("click", openKakaoMap);
	
	//사업자번호 조회 API 호출
	chkCorpNum();
	
	//파일업로드 관련 함수
	uploadFile();
	
	//모달 골라 보기 호출
	showTheModal(); 

	// 전체 동의 체크박스 기능
	document.getElementById('terms1').addEventListener('change', function() {
	    const checkboxes = document.querySelectorAll('.checkbox-input:not(#terms1)');
	    checkboxes.forEach(checkbox => {
	        checkbox.checked = this.checked;
	    });
	});

	// 개별 체크박스 변경 시 전체 동의 상태 업데이트
	document.querySelectorAll('.checkbox-input:not(#terms1)').forEach(checkbox => {
	    checkbox.addEventListener('change', function() {
	        const allCheckboxes = document.querySelectorAll('.checkbox-input:not(#terms1)');
	        const checkedBoxes = document.querySelectorAll('.checkbox-input:not(#terms1):checked');
	        document.getElementById('terms1').checked = allCheckboxes.length === checkedBoxes.length;
	    });
	});

	// 폼 제출 처리
	document.querySelector('form').addEventListener('submit', function(e) {
	    e.preventDefault();
	    //예외처리 검사 함수 호출
	    if(validateForm()){
		    alert('회원가입 양식이 제출되었습니다!');
		    //this.submit();
	    }
	    
	});

	//폼 예외처리 검사
	function validateForm(){
		let flag = true;

		
		//약관 - 필수 항목 체크 여부 확인
		let termFlag = true;
		document.querySelectorAll('.checkbox-input.required').forEach(checkbox => {
			if(!checkbox.checked){
				termFlag = false;
			}
		});
		if(!termFlag){
			alert('필수 약관에 동의해주세요.');
			flag = false;			
		}
		
		return flag;
	}//validateForm()


	//인증번호 처리, 인증요청 버튼을 클릭시 (300초하자)
	document.getElementById('codeBtn').addEventListener('click', function(){
		alert("디버깅모드로 5초만 유지합니다.");
		//인증번호 입력칸& 확인버튼 표시
		document.getElementById('confirmNumberFrm').style.display='block';
		//display를 none → block으로 바꾸면 기존 flex 속성은 사라집니다. 따라서 다시 설정해줘야합니다.
		document.getElementById('confirmNumberFrm').style.display='flex';
		//확인버튼은 6개 숫자일 경우에만 감지하여 확인버튼을 활성화 
		document.getElementById('confirmNumber').addEventListener('input', function(e){
			let length = this.value.length;
			const btn = document.getElementById('confirmBtn');
			if(length == 6){
				btn.disabled = false;
			} else {
				btn.disabled = true;
			}
		});
		
		//인증메일 전송ajax
		$.ajax({
			url:"/mail/sendVfCode",
			type:"post",
			data: {
				
			},
			
			
		});
		/*  
		        const email = emailInput.value.trim();
        
        //인증번호 생성 이메일 보내기 
        //번호생성 -> 이메일 전송 -> 세션에 이메일과 번호를 저장 (보관:5분) -> 다음 클릭시, 값 확인: 세션값과 대조
       	$.ajax({
       		url : "${pageContext.request.contextPath}/login/controller/sendVerificationCode.jsp",
       		type : "POST",
       		data : {
       			email : email,
       			action : "join"
       		},
       		success:function(result){
       			if(result == "success"){
       				alert("이메일발송, 세션추가 성공");
       			} else  if(result == "fail"){
       				alert("이메일발송, 세션추가 실패");
       			}
       		}
       		
       	});
		
		*/
		
		
		//보냈으므로 인증요청 버튼의 텍스트를 재전송으로 변경
		document.getElementById('codeBtn').textContent='재전송'; 
		//타이머 시작
		startTimer(5, $("#timer"));
		document.getElementById('remainTime').style.display='block'; //남은 인증시간 표시, 만료시 숨김으로 해놨으므로 재전송시 필요
		document.getElementById('verification-error').style.display='none';  //인증시간 만료 표시 숨김, 재전송시 필요
		//
		
	});



	//이메일 인증번호 확인버튼에 이벤트리스너 등록 (참조만 넘기는거에 주의, ..() x)
	document.getElementById('confirmBtn').addEventListener('click', checkConfirmNumber); 

	
}); //ready

//파일선택 버튼 누르고, 업로드 파일 확장자명을 검증 후, 업로드파일 이름 표시
function uploadFile(){
	//파일선택 버튼 누르면, file input을 누른것처럼 작동
	document.getElementById("select_certification_file").addEventListener("click", function(){
		document.getElementById("upfile").click();
	});
	
	//파일이 선택됐을 때 동작
	document.getElementById('upfile').addEventListener("change", function(){
		const fileInput = document.getElementById('upfile');
		const file = fileInput.files[0];
		
		if(file){
			const fileName = file.name;
			const allowedExtention = ['jpg','jpeg','png','pdf'];
			
			//확장자 추출
			const ext = fileName.split('.').pop().toLowerCase(); //pop() ->배열의 마지막 요소
			console.log(fileName + " / " + ext);
			
			//확장자 검증
			if(allowedExtention.includes(ext)){
				document.getElementById('file-name').textContent = `선택된 파일: ${fileName}`;
				document.getElementById('upload-img-box').style.display = "block";
			} else {
				alert('jpg, jpeg, png, pdf 파일 형식만 허용됩니다.');
				fileInput.value = ""; //선택된 파일 초기화
				document.getElementById('upload-img-box').style.display = "none";
				document.getElementById('file-name').textContent = "";
			}
			//또 다른 예외처리 ~
			
		}
		
	});

	
}


//확인버튼 이벤트리스너에 등록될 인증번호확인 함수
function checkConfirmNumber(){
//확인버튼 클릭시 인증번호가 일치하지 않을 때 (예시로 123456으로 해놨음. 수정하자~)
if(document.getElementById('confirmNumber').value != 123456){
	document.getElementById('remainTime').style.display='none'; //남은 인증시간 숨기고,
	document.getElementById('verification-error').textContent='인증번호가 일치하지않습니다. 다시 입력해주세요.'  //에러 텍스트 수정하고,
	document.getElementById('verification-error').style.display='block';  //에러 텍스트 표시
} else {
	//인증에 성공할 때
	alert('인증번호가 일치합니다.');
	//타이머종료
	clearInterval(timerInterval);
	
	document.getElementById('remainTime').style.display='none'; //남은 인증시간 숨기고,
	document.getElementById('verification-success').style.display='block';  //성공 텍스트 표시
	document.getElementById('confirmBtn').disabled = true; //맞으니까 이제 확인버튼 막아
	document.getElementById('codeBtn').disabled = true; //맞으니까 이제 재전송버튼도 막아
	document.getElementById('confirmNumber').readOnly = true; //번호입력창도 막아
	
	document.getElementById('verification-error').style.display = 'none'; //혹시나해서 
	
	return;
}
}

//모달창 골라 열기 
function showTheModal(){
// 약관 버튼 클릭 시 직접 모달 내용 변경
document.querySelectorAll('.term-btn').forEach(btn => {
	btn.addEventListener('click', function(e){
		// 클릭된 버튼의 data-term 속성 가져오기
		const selectedTerm = this.getAttribute('data-term');
		//console.log('선택된 약관:', selectedTerm);
		
		//모든 term fragment를 숨기기 			
		document.querySelectorAll('.term-fragment').forEach(div => {
			div.style.display = 'none';
		});
		
		//선택하 항목만 표시
		const target = document.getElementById(selectedTerm);
		if(target){
			target.style.display = 'block';
		}
		
	});
});
} //showTheModal()


//------- 타이머 함수 ---------
let timerInterval; // 🔸 전역으로 선언해야 기존 타이머 clear 가능

function startTimer(duration, display) {
	let timer = duration;
	let minutes, seconds;
	
	// 기존 타이머가 있다면 정리
	clearInterval(timerInterval);
	
	timerInterval = setInterval(function() {
	    minutes = parseInt(timer / 60, 10);
	    seconds = parseInt(timer % 60, 10);
	    
	    minutes = minutes < 10 ? "0" + minutes : minutes;
	    seconds = seconds < 10 ? "0" + seconds : seconds;
	    
	    display.text(minutes + ":" + seconds);
	    
	    //인증시간 만료시
	    if (--timer < 0) {
	        clearInterval(timerInterval);
	        document.getElementById('remainTime').style.display='none';
	        //display.text("00:00");
	        $("#verification-error").show();
	        $("#verification-error").text("인증 시간이 만료되었습니다. 다시 시도해주세요.");
	        
	        // 만료됐으므로 세션의 인증코드 번호 삭제 
	        $.ajax({
	            url : "",
	            type : "POST"
	        });
	        
	        //만료됐으므로 확인버튼의 이벤트리스너 삭제
	        document.getElementById('confirmBtn').removeEventListener('click', checkConfirmNumber);
	    }
	}, 1000);

}

//----- 사업자등록정보 진위확인 API 호출 -----
function chkCorpNum(){
	let isActive = false;
	document.getElementById("corpNo").addEventListener("input", callAPI);
	
	//사업자 번호 조회 결과 정상영업 업체일 때, 다시 corpNo을 입력하려고 시도하면?
	let isAlerted = false;
	document.getElementById("corpNo").addEventListener("focus", function(){
		if(isActive === true && !isAlerted){
			alert("사업자등록번호 재입력시 기업인증을 다시 신청해 주세요.");
			isAlerted = true; //알람 한번 떳으니 true로 수정. 안그러면 무한 alert!
		}
	});
	
	//사업자 등록번호 조회 API 호출
	function callAPI(){
		const input = document.getElementById("corpNo");
		let corpNo = input.value.replace(/[^0-9]/g, "");  // 숫자 외 제거
		input.value = corpNo; // 입력창에도 정제된 숫자만 다시 넣어줌
		
		if (corpNo.length == 10){
			//alert('10자리');
			var data = {
				    "b_no": [corpNo] // 사업자번호 "xxxxxxx" 로 조회 시,
				   }; 
			let apiKey = "f2XGVPM83eg%2B2DjAAuAr6wEkvRlk4KwQYLDV1WkrveBZOQ6upT8O2otcjEJEiqqllEIhN%2B2KvRi2EKceHA5fJQ%3D%3D";	   
				$.ajax({
				  url: "https://api.odcloud.kr/api/nts-businessman/v1/status?serviceKey=" + apiKey,  // serviceKey 값을 입력
				  type: "POST",
				  data: JSON.stringify(data), // json 을 string으로 변환하여 전송
				  dataType: "JSON",
				  contentType: "application/json",
				  accept: "application/json",
				  success: function(result) {
			      if(result.status_code === "OK"){
			    	  console.log(result);
			    	  let type = result.data[0].tax_type; //사업장 상태값 
			    	  
			    	  //일반 사업자일 때 (예: 1078685702)
			    		if(type.includes("과세자")){
			    			isActive = true;
			    			document.querySelector(".api-result").textContent = "사업자등록번호 확인완료, 기업인증에 사업자등록증명원을 첨부해주세요.";
			    			document.querySelector(".api-result").style.color="green";
			    			//기업인증 업로드 파일 초기화
			    			upFileClear();
			    			isAlerted = false
			    		}
			    	  //등록되지 않은 사업자등록번호일 때
			    		if(type.includes("등록되지")){
			    			isActive = false
			    			document.querySelector(".api-result").textContent = "올바른 사업자번호가 아닙니다.";
			    			document.querySelector(".api-result").style.color="red";
			    			//기업인증 업로드 파일 초기화
			    			upFileClear();
			    			isAlerted = false
			    		}
			    	  //폐지된 업체일 때 (예: 1231231231)
			    		if(result.data[0].b_stt.includes("폐업자")){
			    			isActive = false
			    			document.querySelector(".api-result").textContent = "폐업 처리된 사업자번호입니다. 회원가입을 진행할 수 없습니다.";
			    			document.querySelector(".api-result").style.color="red";
			    			//기업인증 업로드 파일 초기화
			    			upFileClear();
			    			isAlerted = false
			    		}
			      } 
				      
				      
				  },
				  error: function(result) {
			      console.log(result.responseText); //responseText의 에러메세지 확인
			      
			      if(result.status === 400){
			    	  alert("등록되지 않은 API인증키입니다.");
			      }
			      if(result.status === 404){
			    	  alert("Not Found Service");
			      }
			      if(result.status === 411){
			    	  alert("필수 요청 파라미터 누락");
			      }
			      if(result.status === 413){
			    	  alert("요청 사업자번호 100개 초과");
			      }
			      if(result.status === 500){
			    	  alert("Internal Server Error");
			      }
			      if(result.status === -5){
			    	  alert("Http Error");
			      }
				  }
				});
		}
	}
	
}

//사업자등록번호 조회 API ajax에서쓰일 함수 : 기업인증 업로드 파일 초기화
function upFileClear(){
	document.getElementById('upfile').value = "";
	document.getElementById('upload-img-box').style.display = "none";
	document.getElementById('file-name').textContent = "";
}

//카카오 주소찾기
function openKakaoMap(){
	new daum.Postcode({
	    oncomplete: function(data) {
	    	//console.log(data.zonecode);
	    	//console.log(data.roadAddress);
	    	document.getElementById("zipcode").value = data.zonecode;
	    	document.getElementById("roadAddress").value = data.roadAddress;
	    }
	}).open();
}

</script>
</head>
<body>
 <div class="header">
        <div class="header-content">
            <a th:href="@{/}"> <img th:src="@{/images/logo.png}" class="logo" style="width: 100px; height: 50px;"></a>
            <a th:href="@{/login}" class="login-link">로그인</a>
        </div>
    </div>

    <div class="container">
        <h1 class="form-title">민기인력 기업회원 가입</h1>
        
        <form id="frm">
            <div class="form-group-corpNo">
              <label class="form-label" style="font-weight: bold;">사업자등록번호</label>
              <input type="text" id="corpNo" name="corpNo" class="form-input" placeholder="사업자 등록번호 입력(숫자 10자리)" maxlength="10">
            </div>
            <div>
            	<!-- 모두 input으로 ajax처리중  -->
            	<span class="api-result" style="font-size: 12px;"></span>
            </div>
            
            <div class="form-group">
            	<div class="form-label" style="font-weight: bold; margin-top: 25px;">기업인증</div>
                <div class="upload-file-container">
	                <input type="file" id="upfile" name="upfile" style="display: none">
	                <div class="upload-img-box" id="upload-img-box" style="display: none">
		                <div class="upload-img-box-svg">
			                <svg xmlns="http://www.w3.org/2000/svg" width="150px" height="250px" fill="currentColor" class="bi bi-file-earmark-check" viewBox="0 0 16 16">
											  <path d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
											  <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
											</svg>
		                </div>
	                </div>
	                <div class="upload-btn-box">
		                <div type="text" id="file-name" ></div>      
		                <button type="button" class="btn btn-primary btn-sm"  id="select_certification_file">파일 선택</button>
	                </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label">기업명</label>
                <input type="text" name="username" class="form-input" placeholder="4~20자(영어/숫자, 2자 이상은문자+숫자조합">
            </div>
            <div class="form-group">
                <label class="form-label">대표자</label>
                <input type="text" name="username" class="form-input" placeholder="예시(김라민 외1명(사업자등록증명원 대표자명)">
            </div>
            <div class="form-group">
                <label class="form-label">회사주소</label>
                <!-- 주소찾기input 클릭시 다음주소API호출 -->
                <div class="zipcode-box" style="margin-bottom: 10px;">
	                <input type="text" id="zipcode" name="zipcode" class="form-input" placeholder="우편번호" readonly>
	                <input type="button" id="openKakaoMap" class="btn btn-secondary" value="우편번호 찾기" >
                </div>
                <input type="text" id="roadAddress" name="roadAddress" class="form-input" placeholder="주소" style="margin-bottom: 10px;" readonly>
                <input type="text" id="detailAddress" name="detailAddress" class="form-input" placeholder="상세주소">
            </div>
            <div class="form-group">
	            <label class="form-label">업종</label>
	            <select name="industry" id="industry" class="form-select">
						    <option value="">-- 업종 선택 --</option>
							  <option value="manufacturing">제조업</option>
							  <option value="construction">건설업</option>
							  <option value="it_communications">정보통신업 (IT)</option>
							  <option value="wholesale_retail">도소매업</option>
							  <option value="transportation">운수업</option>
							  <option value="real_estate">부동산업</option>
							  <option value="finance_insurance">금융 및 보험업</option>
							  <option value="education">교육 서비스업</option>
							  <option value="health_social">보건 및 사회복지 서비스업</option>
							  <option value="hospitality_food">숙박 및 음식점업</option>
							  <option value="arts_sports_leisure">예술, 스포츠 및 여가관련 서비스업</option>
							  <option value="agriculture_fishing">농업, 임업 및 어업</option>
							  <option value="utilities">전기, 가스, 증기 및 수도사업</option>
							  <option value="public_admin_defense">공공행정 및 국방</option>
							  <option value="international_orgs">국제 및 외국기관</option>
							</select>
            </div>
            <div class="form-group">
                <label class="form-label">평균매출</label>
                <input type="text" name="username" class="form-input" placeholder="평균매출 입력">
            </div>
            <div class="form-group">
                <label class="form-label">평균연봉</label>
                <input type="text" name="username" class="form-input" placeholder="평균연봉 입력">
            </div>
            <div class="form-group">
                <label class="form-label">설립년도</label>
                <input type="text" name="username" class="form-input" placeholder="설립년도 입력(YYYYMMDD)">
            </div>
            <div class="form-group">
                <label class="form-label">사원수</label>
                <input type="text" name="username" class="form-input" placeholder="사원수 입력">
            </div>
            <div class="form-group">
                <label class="form-label">관리 계정 아이디</label>
                <input type="text" name="username" class="form-input" placeholder="4~20자리 / 영문,숫자,특수문자'_'사용 가능">
            </div>

            <div class="form-group">
                <label class="form-label">관리 계정 패스워드</label>
                <input type="password" name="password" class="form-input" placeholder="8~16자리 / 영문대소문자, 숫자, 특수문자 조합">
            </div>
            
            <div class="form-group">
                <label class="form-label">관리자 이름</label>
                <input type="name" class="form-input" placeholder="이름입력">
            </div>

            <div class="form-group">
            	<label class="form-label">관리자 휴대폰</label>
            	<input type="text" name="phone" class="form-input" placeholder="'-'만 빼고 숫자만 입력">
            </div>

            <div class="form-group">
                <label class="form-label">관리자 이메일</label>
                <div class="email-container">
	                <input type="email" class="form-input" placeholder="name@mingihire.co.kr">
	                <button type="button" id="codeBtn" class="btn btn-primary btn-sm" >인증요청</button>
                </div>
                <div id="confirmNumberFrm" class="email-container" style="margin-top: 5px; display: none; gap: 8px;">
	                <input type="text" id="confirmNumber" class="form-input" placeholder="인증번호를 입력해주세요." style="flex: 8;">
	                <button type="button" id="confirmBtn" class="btn btn-success btn-sm" style="flex: 2;" disabled>확인</button> <!-- js: 숫자 6자리일경우에만 활성화 -->
                </div>
                <div id="remainTime" style="display: none">
	                <span style="color: red; font-size: 12px;" >남은시간: </span>
	                <span id="timer" style="margin-top: 5px; color: red; font-size: 12px;"></span>
                </div>
                <!-- <div id="timer" style="margin-top: 5px; color: red; font-weight: bold;"></div> -->
                <div id="verification-error" style="margin-top: 5px; color: red; font-weight: bold;"></div>
                <div id="verification-success" style="margin-top: 5px; color: green; font-weight: bold; display: none; font-size: 12px;">인증에 성공하셨습니다.</div>
            </div>


            <div class="form-group">
                <label class="form-label">약관</label>
                <div class="terms-section">
                    <div class="checkbox-group">
                        <div class="checkbox-item required-checkbox">
                            <input type="checkbox" class="checkbox-input" id="terms1">
                            <label for="terms1" class="checkbox-label"><strong>전체 동의</strong></label>
                        </div>
                        <div class="checkbox-item">
                       		<div class="terms-title">
                            <input type="checkbox" class="checkbox-input required" id="terms2">
                            <label for="terms2" class="checkbox-label"><strong>(필수) 기업회원 약관에 동의</strong></label>
                       		</div>
                     			<div class="terms-detail-emoji">
                     				<a type="button" class="term-btn" data-term="userTerms" data-bs-toggle="modal" data-bs-target='#showTerm'> > </a>
                       		</div>
                        </div>
                        <div class="checkbox-item">
                        	<div class="terms-title">
                            <input type="checkbox" class="checkbox-input required" id="terms3">
                            <label for="terms3" class="checkbox-label"><strong>(필수) 개인정보 수집 및 이용에 동의</strong></label>
                          </div>
                          <div class="terms-detail-emoji">
                        		<a type="button" class="term-btn" data-term="privacyTerm" data-bs-toggle="modal" data-bs-target='#showTerm'> > </a>
                       		</div>
                        </div>
                        <div class="checkbox-item">
                          <div class="terms-title">  
                            <input type="checkbox" class="checkbox-input" id="terms4">
                            <label for="terms4" class="checkbox-label"><strong>(필수) SMS발송 서비스 약관에 동의</strong></label>
                          </div>
                          <div class="terms-detail-emoji">
                       			<a type="button" class="term-btn" data-term="locationTerm" data-bs-toggle="modal" data-bs-target='#showTerm'> > </a>
                       		</div> 
                        </div>
                        <div class="checkbox-item">
                          <div class="terms-title"> 
                            <input type="checkbox" class="checkbox-input" id="terms5">
                            <label for="terms5" class="checkbox-label">(선택) 마케팅 정보 수신 동의 · 이메일</label>
                          </div>
                          <div class="terms-detail-emoji">
                        		<a type="button" class="term-btn" data-term="marketingTerm_email" data-bs-toggle="modal" data-bs-target='#showTerm'> > </a>
                       		</div>  
                        </div>
                        <div class="checkbox-item">
 													<div class="terms-title">
                            <input type="checkbox" class="checkbox-input" id="terms6">
                            <label for="terms6" class="checkbox-label">(선택) 마케팅 정보 수신 동의 · SMS/MMS</label>
                          </div>
                          <div class="terms-detail-emoji">
                        		<a type="button" class="term-btn" data-term="marketingTerm_sms" data-bs-toggle="modal" data-bs-target='#showTerm'> > </a>
                       		</div>  
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" id="submitBtn" class="submit-btn" >다음단계</button>
        </form>
    </div>
    
    <!-- Vertically centered scrollable modal -->
    <div class="modal fade" id="showTerm" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			  <div class="modal-content">
			  
			  	<div class="modal-header">
			  		<h5 class="modal-title" id="myModalLabel">이용약관</h5>
			  		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
			  	</div>
			  	 
	      	<div class="modal-body" id="modalBodyContent">
	      		<!-- th:replace는 "fragment를 찾는 역할, 경로는 fragments일 필요없음, 그리고 해당 태그를 fragment내용으로 교체하면서 style="dislplay:none"이 무시되고 사라질수있음-->
	      		<!-- 또한 replace는 fragment로 대체되면서 div의 id, class, style, data-* 속성 모두 사라짐.. 따라서 insert를 쓰자  -->
						<div id="userTerms" class="term-fragment" style="display: none;" th:insert="~{login/terms/userTerms :: userTerms}"></div>
						<div id="privacyTerm" class="term-fragment" style="display: none;" th:insert="~{login/terms/privacyPolicyAgreement :: privacyTerm}"></div>
						<div id="locationTerm" class="term-fragment" style="display: none;" th:insert="~{login/terms/locationTerms :: locationTerm}"></div>
						<div id="marketingTerm_email" class="term-fragment" style="display: none;" th:insert="~{login/terms/marketingTerms_email :: marketingTerm_email}"></div>
						<div id="marketingTerm_sms" class="term-fragment" style="display: none;" th:insert="~{login/terms/marketingTerms_sms :: marketingTerm_sms}"></div>
		      </div>
			  </div>
			</div>
    </div>


</body>
</html>