<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>민기인력 - 기업 메인</title>
<th:block th:replace="~{fragments/external_file :: cdn_block}"></th:block>
<link rel="stylesheet" th:href="@{/corp/mainCss/main_page.css}"/>
<style type="text/css">

</style>
<script type="text/javascript">
$(function(){
	
});//ready
</script>
</head>
<body>
<th:block th:replace="~{fragments/corpHeader :: corpHeader}"></th:block>

<div class="corp-main-container">
여기다가 설계하시면 됩니다.
</div>
 
<th:block th:replace="~{fragments/corpFooter :: corpFooter}"></th:block>
</body>
</html>